<div class="min-h-dvh w-full pt-20">
  <section class="bg-black">
    <div class="mx-auto max-w-6xl p-20 text-center text-orange-light">
      <h2 class="text-4xl">Reservas</h2>
    </div>
  </section>
  <section class="text-center text-orange-light">
    <div class="mx-auto grid max-w-6xl grid-cols-3 gap-4 p-20">
      <div class="aspect-w-3 aspect-h-2">
        <img
          src="/assets/imagen1.jpg"
          alt="Imagen 1"
          class="h-full w-full object-cover" />
      </div>

      <div class="aspect-w-4 aspect-h-3">
        <img
          src="/assets/imagen2.jpg"
          alt="Imagen 2"
          class="h-full w-full object-cover" />
      </div>

      <div class="aspect-w-2 aspect-h-1">
        <img
          src="/assets/imagen3.jpg"
          alt="Imagen 3"
          class="h-full w-full object-cover" />
      </div>

      <div class="aspect-w-1 aspect-h-1">
        <img
          src="/assets/imagen4.jpg"
          alt="Imagen 4"
          class="h-full w-full object-cover" />
      </div>

      <div class="aspect-w-3 aspect-h-2">
        <img
          src="/assets/imagen5.jpg"
          alt="Imagen 5"
          class="h-full w-full object-cover" />
      </div>
    </div>
  </section>
</div>
