#Título de la Página Eventos con CSS Tailwind.

<section
  class="bg-custom bg-warm-gray-50 mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400">
  <div class="mx-auto max-w-3xl">
    <h2 class="mb-4 text-3xl font-bold">Nosotros</h2>

    <p class="text-lg">Texto sobre Nosotros</p>
  </div>
</section>

#Matriz de Imágenes de los eventos

<section
  class="bg-custom bg-warm-gray-50 mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400">
  <div class="mx-auto grid max-w-6xl grid-cols-3 gap-4">
    <div class="aspect-w-3 aspect-h-2">
      <img
        src="imagen1.jpg"
        alt="Imagen 1"
        class="h-full w-full object-cover" />
    </div>

    <div class="aspect-w-4 aspect-h-3">
      <img
        src="imagen2.jpg"
        alt="Imagen 2"
        class="h-full w-full object-cover" />
    </div>

    <div class="aspect-w-2 aspect-h-1">
      <img
        src="imagen3.jpg"
        alt="Imagen 3"
        class="h-full w-full object-cover" />
    </div>

    <div class="aspect-w-1 aspect-h-1">
      <img
        src="imagen4.jpg"
        alt="Imagen 4"
        class="h-full w-full object-cover" />
    </div>

    <div class="aspect-w-3 aspect-h-2">
      <img
        src="imagen5.jpg"
        alt="Imagen 5"
        class="h-full w-full object-cover" />
    </div>
  </div>
</section>
