<nav class="fixed top-0 w-full border-2 border-gray-300 bg-base p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/home" class="text-black">Drink To Night</a>
    <ul class="flex items-center gap-10">
      <li class="mx-2">
        <a href="/reservations" class="text-black">Reservas</a>
      </li>
      <li class="mx-2">
        <a href="/events" class="text-black">Eventos</a>
      </li>
      <li class="mx-2">
        <a href="/about" class="text-black">Nosotros</a>
      </li>
    </ul>
    <a href="/auth/login" class="border-2 border-black px-4 py-2 text-black"
      >Iniciar Sesión</a
    >
  </div>
</nav>
