#Sección de imagen principal
<section
  class="bg-hero mb-0 mt-0 h-screen bg-cover bg-center pb-0 pt-0"
  style="background-image: url('imagen.jpg')"></section>
#Sección de texto explicando características generales del bar
<section
  class="bg-custom mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400"
  style="background-color: #00202e">
  <div class="mx-auto max-w-3xl">
    <h2 class="mb-4 text-3xl font-bold">
      Eventos únicos cada día, desde jazz a electrónica.
    </h2>
    <p class="text-lg">
      Nuestros talentosos baristas preparan delicias líquidas, mientras los DJs
      cautivan con sonidos eclécticos. Ambientes diversos y un menú exquisito
      completan la experiencia. ¡Te esperamos para explorar!
    </p>
  </div>
</section>
#Aquí separamos dos secciones cada una con dos divs en donde ubicamos imágenes y
un texto

<section class="mb-0 mt-0 flex items-center justify-center py-20 pb-0 pt-0">
  <div
    class="mx-auto flex max-w-6xl justify-center space-x-5 border border-solid border-black">
    <div class="w-1/2 border-solid border-black">
      <div class="bg-white p-4">
        <img src="imagen1.jpg" alt="Imagen 1" class="mx-auto h-64 w-96" />
      </div>
    </div>
    <div class="flex w-1/2 items-center justify-center bg-yellow-300">
      <div class="p-4">
        <h2
          class="mb-4 flex h-full items-center justify-center text-2xl font-bold uppercase text-black">
          BAR
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="mb-0 mt-0 flex items-center justify-center py-20 pb-0 pt-0">
  <div
    class="mx-auto flex max-w-6xl justify-center space-x-5 border border-solid border-black">
    <div class="flex w-1/2 items-center justify-center bg-yellow-700">
      <div class="p-4">
        <h2
          class="mb-4 flex h-full items-center justify-center text-2xl font-bold uppercase text-black">
          COMIDA
        </h2>
      </div>
    </div>
    <div class="w-1/2 border-solid border-black">
      <div class="bg-white p-4">
        <img src="imagen1.jpg" alt="Imagen 1" class="mx-auto h-64 w-96" />
      </div>
    </div>
  </div>
</section>
#Sección final del home, en donde vemos un texto y 4 imágenes de eventos
<section
  class="bg-custom mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400"
  style="background-color: #00202e">
  <div class="mx-auto max-w-3xl">
    <h2 class="mb-4 text-3xl font-bold">
      Sumérgete en un ambiente moderno y vibrante. ¡Ven y vive experiencias que
      trascienden lo común!
    </h2>
  </div>
</section>
<section
  class="bg-custom mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400"
  style="background-color: #00202e">
  <div class="mx-auto grid max-w-6xl grid-cols-2 gap-4">
    <div>
      <img src="imagen1.jpg" alt="Imagen 1" class="mx-auto h-64 w-96" />
    </div>
    <div>
      <img src="imagen2.jpg" alt="Imagen 2" class="mx-auto h-64 w-96" />
    </div>
    <div>
      <img src="imagen3.jpg" alt="Imagen 3" class="mx-auto h-64 w-96" />
    </div>
    <div>
      <img src="imagen4.jpg" alt="Imagen 4" class="mx-auto h-64 w-96" />
    </div>
  </div>
</section>
 
