#Título de la Página Eventos con CSS Tailwind.

<section
  class="bg-custom bg-warm-gray-50 mb-0 mt-0 py-20 pb-20 pt-20 text-center text-black">
  <div class="mx-auto max-w-3xl">
    <h2 class="mb-4 text-3xl font-bold">Eventos</h2>
  </div>
</section>

#Matriz de Imágenes de los eventos

<section
  class="bg-custom bg-warm-gray-50 mb-0 mt-0 py-20 pb-20 pt-20 text-center text-yellow-400">
  <div class="mx-auto grid max-w-6xl grid-cols-2 gap-4">
    <div>
      <img src="imagen1.jpg" alt="Imagen 1" class="mx-auto h-64 w-96" />
    </div>

    <div>
      <img src="imagen2.jpg" alt="Imagen 2" class="mx-auto h-64 w-96" />
    </div>

    <div>
      <img src="imagen3.jpg" alt="Imagen 3" class="mx-auto h-64 w-96" />
    </div>

    <div>
      <img src="imagen4.jpg" alt="Imagen 4" class="mx-auto h-64 w-96" />
    </div>
  </div>
</section>
